@import "tailwindcss";
@import 'font-awesome/css/font-awesome.min.css';

*{
  font-family: "Montserrat", serif;
  user-select: none;
}

.video{
  width: 100%;
  aspect-ratio: 16 / 9;
}
html {
  scroll-behavior: smooth;
}

/* Estilo para pantallas grandes */
.bg {
  object-position: left;
  /* Otros estilos que necesites */
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 1020px) {
  .bg {
    object-position: calc(0% - 220px) 50%; /* Ajusta 20px hacia la derecha */
  }
}